.mainDisplay{
    font-family: Helvetica, Arial, sans-serif;
    background-color: lightgray;
    padding: 1em;
    justify-self: center;
    border-radius: 50px;
    padding-top: 6em;
    width: 36rem;
}

body{
    background-color: gray;
}