button{
    border:none;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 45px;
    padding: 0;
    margin: 0;


    width: 100%;
    padding: .2em;
    cursor: pointer;
    &:hover{    
        scale: 1.1;
    }
}

.primary{
    color:white;
    background-color: aqua;
    rotate: 30deg;
    &:hover{        
        background-color: orange;
    }
}

.primary{
    border: 1px solid black;
    &:hover{        
        background-color: orange;
    }
}


